# Ignoramos los .o y la libreria build
build/
*.o

# Ignoramos el archivo ejecutable final
cub3D

# Ignoramos los archivos generados por la compilacion de la MLX42
lib/MLX42/build/
lib/libft/*.o
lib/libft/libft.a

# Ignoramos la carpeta .vscode
.vscode/

# Ignoramos docs
docs/
